# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/ui2/build/
/ui1/build/
/ui3/build/
animated_hidden_drawer/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
ui1/android/app/debug
ui1/android/app/profile
ui1/android/app/release

# Android Studio will place build artifacts here
ui2/android/app/debug
ui2/android/app/profile
ui2/android/app/release

ui3/android/app/debug
ui3/android/app/profile
ui3/android/app/release

/animated_hidden_drawer/
# Android Studio will place build artifacts here
animated_hidden_drawer/android/app/debug
animated_hidden_drawer/android/app/profile
animated_hidden_drawer/android/app/release

animated_hidden_drawer/example/android/app/debug
animated_hidden_drawer/example/android/app/profile
animated_hidden_drawer/example/android/app/release
